@import "tailwindcss";

@theme {

  --color-islamic-blue: #0f1419;
  --color-islamic-gold: #d4af37;
  --color-islamic-green: #2e8b57;


  --font-arabic: "Amiri", serif;
}


@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

@layer base {
  body {
    @apply font-arabic bg-white text-gray-900;
  }
}