@import "tailwindcss";

@theme {
  --color-islamic-blue: #2B4753;
    --color-islamic-blue-hero: #0C1922;
  --color-islamic-gold: #d4af37;
  --color-islamic-green: #2e8b57;


  --font-cairo: "Cairo", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@layer base {
  body {

    font-family: var(--font-cairo);
    @apply bg-white text-gray-900;
  }
}